<a href="https://colab.research.google.com/github/dhrruvchotai/Current_Learnings/blob/main/Pytorch/fashion_mnist_ann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub
path = kagglehub.dataset_download("zalando-research/fashionmnist")

Using Colab cache for faster access to the 'fashionmnist' dataset.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn
from torch.utils.data import DataLoader,Dataset
import torch.optim as optim
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Deep Learning/Pytorch/fmnist_small.csv")

In [ ]:
df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,9,0,0,0,0,0,0,0,0,0,...,0,7,0,50,205,196,213,165,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,142,142,142,21,0,3,0,0,0,0
3,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8,0,0,0,0,0,0,0,0,0,...,213,203,174,151,188,10,0,0,0,0

In [ ]:
df.shape

(6000, 785)

In [ ]:
X = df.drop(columns=["label"])
y = df["label"]

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train = X_train / 255.0
X_test = X_test / 255.0

In [ ]:
X_train

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
3897,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
5628,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.003922,...,0.356863,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
1756,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2346,0.0,0.0,0.0,0.0,0.0,0.003922,0.000000,0.000000,0.0,0.000000,...,0.003922,0.000000,0.000000,0.000000,0.000000,0.254902,0.090196,0.000000,0.0,0.0
2996,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.262745,...,0.533333,0.470588,0.286275,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
5191,0.0,0.0,0.0,0.0,0.0,0.000000,0.003922,0.000000,0.0,0.200000,...,0.000000,0.000000,0.003922,0.000000,0.031373,0.258824,0.000000,0.000000,0.0,0.0
5226,0.0,0.0,0.0,0.0,0.0,0.000000,0.011765,0.003922,0.0,0.000000,...,0.439216,0.474510,0.474510,0.027451,0.000000,0.003922,0.000000,0.000000,0.0,0.0
5390,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
860,0.0,0.0,0.0,0.0,0.0,0.000000,0.003922,0.000000,0.0,0.000000,...,0.078431,0.086275,0.000000,0.000000,0.000000,0.050980,0.278431,0.062745,0.0,0.0

In [ ]:
class CustomDataset(Dataset):
  def __init__(self,features,labels):
    self.features = torch.tensor(features.values,dtype=torch.float32)
    self.labels = torch.tensor(labels.values,dtype=torch.long)

  def __len__(self):
    return len(self.features)

  def __getitem__(self, index):
    return self.features[index],self.labels[index]

In [ ]:
train_dataset = CustomDataset(X_train,y_train)
test_dataset = CustomDataset(X_test,y_test)

In [ ]:
train_loader = DataLoader(train_dataset,batch_size=32,shuffle=True)
test_loader = DataLoader(test_dataset,batch_size=32,shuffle=False)

In [ ]:
class Model(nn.Module):

  def __init__(self,num_features):
    super().__init__()
    self.neural_net = nn.Sequential(
        nn.Linear(num_features,128),
        nn.ReLU(),
        nn.Linear(128,64),
        nn.ReLU(),
        nn.Linear(64,10)
        #will not add softmax here because there is softmax function in built in cross entropy loss in pytorch
    )

  def forward(self,features):
    return self.neural_net(features)

In [ ]:
num_features = X_train.shape[1]
model = Model(num_features)

In [ ]:
epochs = 100
learning_rate = 0.1

In [ ]:
loss_function = nn.CrossEntropyLoss()
optimizer = optim.SGD(model.parameters(),learning_rate)

In [ ]:
num_train_batches = len(train_loader)
num_train_batches

150

In [ ]:
#training loop
for epoch in range(epochs):
  total_epoch_loss = 0
  for batch_features,batch_labels in train_loader:
    #forward pass
    y_pred = model(batch_features)
    #cal loss
    loss = loss_function(y_pred,batch_labels)
    #clear gradients
    optimizer.zero_grad()
    #backprop
    loss.backward()
    #update params
    optimizer.step()
    total_epoch_loss += loss.item()

  print(f"Epoch {epoch+1} Loss : {total_epoch_loss/num_train_batches}")

Epoch 1 Loss : 1.322568706671397
Epoch 2 Loss : 0.7899165542920431
Epoch 3 Loss : 0.6556014315287272
Epoch 4 Loss : 0.5857545258601506
Epoch 5 Loss : 0.5399637194474538
Epoch 6 Loss : 0.4999191439151764
Epoch 7 Loss : 0.46561806817849477
Epoch 8 Loss : 0.4463784702618917
Epoch 9 Loss : 0.4244719104965528
Epoch 10 Loss : 0.4043931700785955
Epoch 11 Loss : 0.3886548100908597
Epoch 12 Loss : 0.3658471514284611
Epoch 13 Loss : 0.35921288733681045
Epoch 14 Loss : 0.3400715800126394
Epoch 15 Loss : 0.3245877398053805
Epoch 16 Loss : 0.33031851331392925
Epoch 17 Loss : 0.3064374203483264
Epoch 18 Loss : 0.2959343317647775
Epoch 19 Loss : 0.2793607316662868
Epoch 20 Loss : 0.2757481794555982
Epoch 21 Loss : 0.25758648176987964
Epoch 22 Loss : 0.25278453682859736
Epoch 23 Loss : 0.24509644448757173
Epoch 24 Loss : 0.23279751673340798
Epoch 25 Loss : 0.228377908517917
Epoch 26 Loss : 0.22576218167940776
Epoch 27 Loss : 0.2228279365847508
Epoch 28 Loss : 0.21137356559435527
Epoch 29 Loss : 0.19503612123429775
Epoch 30 Loss : 0.18827991192539534
Epoch 31 Loss : 0.19860144304732483
Epoch 32 Loss : 0.18346798504392306
Epoch 33 Loss : 0.16426706857979298
Epoch 34 Loss : 0.17027372136712074
Epoch 35 Loss : 0.1680326153958837
Epoch 36 Loss : 0.15506023510048786
Epoch 37 Loss : 0.1659664902339379
Epoch 38 Loss : 0.1940023798123002
Epoch 39 Loss : 0.15095990628004075
Epoch 40 Loss : 0.13498670179396868
Epoch 41 Loss : 0.13578349648664395
Epoch 42 Loss : 0.1388796690478921
Epoch 43 Loss : 0.11742037504911423
Epoch 44 Loss : 0.128740840855365
Epoch 45 Loss : 0.1107521507392327
Epoch 46 Loss : 0.1317904218658805
Epoch 47 Loss : 0.11288497074196736
Epoch 48 Loss : 0.12085641200964649
Epoch 49 Loss : 0.10688832873478532
Epoch 50 Loss : 0.09728358379254738
Epoch 51 Loss : 0.09407772242091596
Epoch 52 Loss : 0.0877754700742662
Epoch 53 Loss : 0.10178156336769462
Epoch 54 Loss : 0.11750013522182902
Epoch 55 Loss : 0.11874281236901879
Epoch 56 Loss : 0.08637827216958006
Epoch 57 Loss : 0.07182010734143357
Epoch 58 Loss : 0.0991474219970405
Epoch 59 Loss : 0.08272817528806627
Epoch 60 Loss : 0.08066610826800268
Epoch 61 Loss : 0.06977008101840813
Epoch 62 Loss : 0.104394573069488
Epoch 63 Loss : 0.06590265332876394
Epoch 64 Loss : 0.08153740363350759
Epoch 65 Loss : 0.06430162475754818
Epoch 66 Loss : 0.07656747850589454
Epoch 67 Loss : 0.05704817002328733
Epoch 68 Loss : 0.05187405523378402
Epoch 69 Loss : 0.04776811075784887
Epoch 70 Loss : 0.049152733182224136
Epoch 71 Loss : 0.04760922850730519
Epoch 72 Loss : 0.0671554501230518
Epoch 73 Loss : 0.057214999046797554
Epoch 74 Loss : 0.05751202937293177
Epoch 75 Loss : 0.03227934251461799
Epoch 76 Loss : 0.07153009383318325
Epoch 77 Loss : 0.03862512381281704
Epoch 78 Loss : 0.033114278761980434
Epoch 79 Loss : 0.026299753291532398
Epoch 80 Loss : 0.03747785968822427
Epoch 81 Loss : 0.026682949583046137
Epoch 82 Loss : 0.056035568764588484
Epoch 83 Loss : 0.02396711540563653
Epoch 84 Loss : 0.04687260004148508
Epoch 85 Loss : 0.03365933728870005
Epoch 86 Loss : 0.027090218033408747
Epoch 87 Loss : 0.01470417156505088
Epoch 88 Loss : 0.03387320558850964
Epoch 89 Loss : 0.0224644268824098
Epoch 90 Loss : 0.02413748052010002
Epoch 91 Loss : 0.01222264429088682
Epoch 92 Loss : 0.006286653006682173
Epoch 93 Loss : 0.006880063987531078
Epoch 94 Loss : 0.0038677867862861605
Epoch 95 Loss : 0.004696271014787878
Epoch 96 Loss : 0.0033907603959475335
Epoch 97 Loss : 0.0029818317391133555
Epoch 98 Loss : 0.0031173568057905263
Epoch 99 Loss : 0.0025692309742832244
Epoch 100 Loss : 0.0023068407159977746

In [ ]:
#To Check how torch.max function works
# torch.manual_seed(42)
# outputs = torch.rand(32,10)
# print(outputs[0])

In [ ]:
# _, output = torch.max(outputs,dim=1)
# print(f"{_} and {output}")

tensor([0.9593, 0.9346, 0.8317, 0.9516, 0.9464, 0.9103, 0.9147, 0.9811, 0.8035,
        0.9578, 0.6249, 0.9998, 0.9192, 0.9302, 0.9555, 0.9554, 0.9545, 0.8870,
        0.7628, 0.9297, 0.9211, 0.9837, 0.8788, 0.9208, 0.8087, 0.7797, 0.9696,
        0.9729, 0.9192, 0.6858, 0.9193, 0.9929]) and tensor([3, 0, 3, 0, 3, 3, 6, 2, 4, 6, 1, 0, 8, 0, 8, 4, 0, 8, 5, 3, 2, 5, 6, 3,
        9, 6, 5, 4, 8, 4, 5, 7])

In [ ]:
total = 0
correct = 0

with torch.no_grad():
  for batch_features, batch_labels in test_loader:
    outputs = model(batch_features)
    _, predicted = torch.max(outputs,dim=1)
    total = total + batch_features.shape[0]
    correct = correct + (predicted == batch_labels).sum().item()
print(correct/total)

0.8358333333333333